<% provide(:title, 'All users') %>

<div class="container pageContent">
  <h1 class= "pageHeader">All users</h1>
  <div class="col-sm-8">
    <table class="table table-striped table-condensed table-hover">
      <tbody>
        <%= render @users unless @users.present? %>
        Current.user.email_address: <%=  Current.user.email_address %>
      </tbody>
    </table>
  </div>
</div>
